{% extends 'main.html.twig' %}

{% block body %}
    {% for project in projects %}
        <div class="projects-wrapper">
            <div class="container">
                <div class="project col col-12 col-sm-6 col-md-4">
                    <div class="project-inner-wrapper">
                        <a href="{{ path('project_individual',{'title':project.title}) }}">
                            <div class="image-wrapper">
                                <img src="#" />
                                <div class="title-wrapper">
                                    <h2>{{ project.title }}</h2>
                                    <h3>{{ project.strapline }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
