{% extends 'base.html.twig' %}

{% block theme 'projects' %}

{% block header %}
{#@TODO - link logo to front page#}

  <div class="logo-wrapper"><img src="{{ asset('images/lamb_logo.png') }}" /></div>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row">

    <div class="content-column-wrapper col-12 col-md-6">
      <div class="content-column">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>

        <div class="other-project-links">
          <ul>
            <li><a href="#">Project one</a></li>
            <li><a href="#">Project two</a></li>
            <li><a href="#">Project three</a></li>
            <li><a href="#">Project four</a></li>
            <li><a href="#">Project five</a></li>
            <li><a href="#">Project six</a></li>
            <li><a href="#">Project seven</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="images-column-wrapper col-12 col-md-6">
      <div class="images-column">
        <div class="container">

            <!-- <div class="row row-eq-height">
              <div class="project col col-12 col-sm-6"><div id="lightgallery"><a href="images/placeholder_image.jpeg"><img src="images/placeholder_image.jpeg" /></a></div></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
            </div>
            <div class="row row-eq-height">
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div>
              <div class="project col col-12 col-sm-6"><img src="images/placeholder_image.jpeg" /></div> -->
            <!-- </div> -->

            <div id="lightgallery" class="row">

              {#<a href="images/placeholder_image.jpeg" class="col-12 col-sm-6">#}
                {#<img src="images/placeholder_image.jpeg" />#}
              {#</a>#}

                {% for file in project.files %}
                  <a href="#" class="col-12 col-sm-6">
                    <img src="{{ asset('images/projects/' ~ file) }}"  />
                  </a>
                {% endfor %}


            </div>


        </div>
      </div>

    </div>


  </div>
</div>

{% endblock %}
